
body {
	color: #111;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 20px;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
	margin-left: 20px;
}
p {
	margin-bottom: 10px;
}
ul {
	margin-bottom: 10px;
	margin-left: 20px
}

a:link, a:visited {
	color: #03C;
}
